<%- include('header',{title:"home"}); -%>

<div class="container-fluid mt-4 ">
    <div class="row">
        <div class="col-sm-6 ">
            <img src="img/clip-online-consultation.png"  class="img-fluid" alt="">
        </div>
        <div class="col-sm-6">
        <h1 class="display-4 mt-4">Attendance Taker</h1>
        <p>A 💡 Perfect Tool To Take Attendance 🧈 Smooth & ⚡ Fast Without Hassel.</p>
        <a href="/loginstudent" class="btn btn-outline-dark">Login for Student </a>
        <a href="/loginteacher" class="btn btn-outline-primary">Login For Teacher</a>
        </div>
    </div>
</div>


<%- include('footer'); -%>
    