<%- include('header',{title:"Login-Teacher"}); -%>

    <div class="container-fluid mt-4 ">
        <div class="row">
            <div class="col-sm-6 ">
                <img src="img/cherry-667.png" class="img-fluid" alt="">
            </div>
            <div class="col-sm-6">
                <h1 class="display-4 mt-4">Login For Teacher</h1>
                <p class="text-center">
                <form action="/loginstudent" method="post">
                    <button type="submit" class="btn btn-outline-danger mx-4"><i class="fab fa-google"></i> Login With
                        Google </button>
                </form>
                </p>
            </div>
        </div>
    </div>


    <%- include('footer'); -%>